body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  height: 120px;
  background-color: rgb(235, 235, 235);
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.footer-container {
  background-color: rgb(235, 235, 235);
  text-align: center;
}

.grid-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  grid-gap: 2rem;
  max-width: 49rem;
  justify-content: center;
  justify-items: center;
  
}

.card {
  position: relative;
  border-radius: 5px;
  max-width: 15rem;
  background-color: rgb(235, 235, 235);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-content {
  color: black;
  padding: 0.8rem;
  text-align: center;
}
